[submodule "static/javascript-pong"]
	path = static/javascript-pong
	url = git@github.com:theosp/javascript-pong.git
[submodule "static/remote_control/gyro"]
	path = static/remote_control/gyro
	url = https://github.com/tomgco/gyro.js.git
[submodule "static/remote_control/jquery-ui-touch-punch"]
	path = static/remote_control/jquery-ui-touch-punch
	url = git@github.com:furf/jquery-ui-touch-punch.git
